                .titulo {
	                text-align: center;
                }
		p {
			font-family: serif;
		}

		#primer-parrafo {
			background-color: #CEE;
		}

		p.importante em {
			color: #999;
		}

		body p.fuente.parrafo {
			color: #000;
			opacity: 100%;
		}
                .complicado {
	                font-weight: bold;
	                color: #C62;
                }
